.home-island {
  transition: background-image 0.5s ease-in-out;
}

.home-island.fiji {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/bg-1.jpg') no-repeat center center;
  background-size: cover;
}

.home-island.samoa {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/bg-2.jpg') no-repeat center center;
  background-size: cover;
}

.home-island.tonga {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/bg-3.jpg') no-repeat center center;
  background-size: cover;
}

.onboarding {
  transition: background-image 0.5s ease-in-out;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/onboarding-bg-logo.png') no-repeat center center;
  background-size: cover;
}

/* Remove logo-background since it's no longer used */
.wallet {
  transition: background-image 0.5s ease-in-out;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin: 0 0 20px;
}